venv
src/__pycache__/
src/ui/__pycache__/
src/ui/tabs/__pycache__/
src/datasets/
src/encryption/python/__pycache__/
src/encryption/python/aes/__pycache__/
sessions/
src/encryption/python/aes/build/
build/
src/encryption/python/chacha/__pycache__/
src/encryption/python/rsa/__pycache__/
src/encryption/python/core/__pycache__/
src/encryption/python/ecc/__pycache__/
src/encryption/python/camellia/__pycache__/
src/encryption/c/build/
src/encryption/c/c_core
src/ui/tabs/configuration_tab/__pycache__/
src/encryption/zig/.zig-cache/
